.search{
    background-color: #fafafa;
    height: 100vh;
    padding: 0px 20px;
}

.search_container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search_input{
    width: 600px;
}

@media (max-width: 700px) {
    .search_input{
        width: 100%;
    }
}